<p class="text-center text-muted">© Copyright 2020 The Awesome People</p>

<!-- Igual que muchas aplicaciones que creamos, hay mucho código que se reutiliza. 
    A esos códigos los llamamos parciales y definen tres archivos que usaremos en 
    todo nuestro sitio: head.ejs, header.ejs y footer.ejs. -->
