<p class="text-left text-muted">© Copyright 2022 Zalo Aller Photographer</p>

<!-- Igual que muchas aplicaciones que creamos, hay mucho código que se reutiliza. 
    A esos códigos los llamamos parciales y definen tres archivos que usaremos en 
    todo nuestro sitio: head.ejs, header.ejs y footer.ejs. -->
