<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EJS Is Fun</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </nav>


  <!-- Igual que muchas aplicaciones que creamos, hay mucho código que se reutiliza. 
    A esos códigos los llamamos parciales y definen tres archivos que usaremos en 
    todo nuestro sitio: head.ejs, header.ejs y footer.ejs. -->
    