<meta charset="UTF-8">
<title>  Porfolio Zalo Aller </title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { padding-top:50px; }
</style>

<!-- Igual que muchas aplicaciones que creamos, hay mucho código que se reutiliza. 
    A esos códigos los llamamos parciales y definen tres archivos que usaremos en 
    todo nuestro sitio: head.ejs, header.ejs y footer.ejs. -->