<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Porfolio Zalo Aller</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <em>Variant: <%= typeof variant != 'undefined' ? variant : 'default' %></em>
    </ul>
     <!-- El parcial EJS tiene acceso a todos los mismos datos que la vista principal. Pero tenga cuidado: 
    si hace referencia a una variable en un parcial, debe definirse en cada vista que utilice el parcial 
    o arrojará un error.   Si desea referenciar una variable en un parcial que puede no definirse siempre, 
    y darle un valor predeterminado <em> Variant:  typeof variant != 'undefined' ? variant : 'default'</em> -->

  </nav>

  <!-- Igual que muchas aplicaciones que creamos, hay mucho código que se reutiliza. 
    A esos códigos los llamamos parciales y definen tres archivos que usaremos en 
    todo nuestro sitio: head.ejs, header.ejs y footer.ejs. -->
    