<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <!-- El parcial EJS tiene acceso a todos los mismos datos que la vista principal. Pero tenga cuidado: 
    si hace referencia a una variable en un parcial, debe definirse en cada vista que utilice el parcial 
    o arrojará un error.   También puede definir y pasar variables a un parcial EJS {variant: 'compact'} -->
    <%- include('../partials/header', {variant:'compact'}); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Esto es genial</h1>
            <p> Bienvenido a las plantillas usando EJS</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Soy una barra lateral</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<!-- Para la página de acerca de, también añadimos una barra lateral de bootstrap 
    para demostrar cómo pueden estructurarse los parciales para que se reutilicen en 
    diferentes plantillas y páginas..-->