<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Esto es genial</h1>
            <p> Bienvenido a las plantillas usando EJS</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>soy una barra lateral</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<!-- Para la página de acerca de, también añadimos una barra lateral de bootstrap 
    para demostrar cómo pueden estructurarse los parciales para que se reutilicen en 
    diferentes plantillas y páginas..-->